DEPLOYER_PRIVATE_KEY="<PRIVATE_KEY>"
RPC_URL=https://base-sepolia.api.onfinality.io/public
ETHERSCAN_API_KEY="<ETHERSCAN_API_KEY>"

# Uniswap V4 Sepolia Infrastructure
POOL_MANAGER=0xE03A1074c86CFeDd5C142C4F04F1a1536e203543
V4_POSITION_MANAGER=0x429ba70129df741B2Ca2a85BC3A2a3328e5c09b4
SWAP_ROUTER=0x00000000000044a361Ae3cAc094c9D1b14Eece97

# Pyre Protocol Config
PYRE_TEAM_WALLET=0x8343b8758C025c72A5A8906C64541d1357984949
PYRE_TESTER="<TESTER_WALLET_ADDRESS>"

# Deployed Contract Addresses (Populated automatically by deploy scripts if desired)
PYRE_TOKEN="<PYRE_TOKEN_ADDRESS>"
PYRE_STAKING="<PYRE_STAKING_ADDRESS>"
FIRE_SPIRIT="<FIRE_SPIRIT_ADDRESS>"
PYRE_HOOK="<PYRE_HOOK_ADDRESS>"